<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="gato-component">
  <template>
    <style>
      :host {
        display: block;
      }
      .btn { padding: 20px; font-size: 13pt; }
    </style>
    <h2>Juego del gato: [[size]] x [[size]]</h2>
    
    <template is="dom-repeat" items="[[myValues]]" as="rows">
      <template is="dom-repeat" items="[[rows]]">
        <button on-click='setValue' class="btn">[[item.item]]</button>
      </template>
      <br>
    </template>

  </template>

  <script>
    /**
     * `gato-component`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    
    class GatoComponent extends Polymer.Element {
      
      static get is() { return 'gato-component'; }
      
      static get properties() {
        return {
          size: {
            type: Number,
            value: 3/*,
            observer: '_isExistSize'*/
          },
          myValues: {
            type: Array,
            value: []
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
        this.initCatComponent();
      }

      initCatComponent() {
        let auxObj;
        let auxArray;
        for (let i = 0 ; i < this.size ; i++) {
          auxArray = [];
          for (let j = 0 ; j < this.size ; j++) {
            auxObj = {};
            auxObj.i = i;
            auxObj.j = j;
            auxObj.item = ':)';
            auxArray.push(auxObj);
          }
          this.push('myValues', auxArray);
        }
      }

      setValue(e) {
        //let item = this.get('myValues.1.0');
        console.log('click ', e.model.item, e.model.item.i, e.model.item.j, "======>");
        let item_selected = e.model.item;
        let i = item_selected.i;
        let j = item_selected.j;
        //alert("hey " + this.get(`myValues.${item.i}.${item.j}`));
        let dataFromPrompt = prompt('Escriba x u o');
        
        if (dataFromPrompt === '' || dataFromPrompt === null) {
          alert("Es necesario ingresar x u o");
          return;
        }
        dataFromPrompt = dataFromPrompt.toLowerCase();
        if (dataFromPrompt !== 'x' && dataFromPrompt !== 'o') {
          alert("Las letras correcta son x u o");
          return;
        }
        this.set( `myValues.${i}.${j}.item`, dataFromPrompt);
        //verificando si gano o no
        this.isWinLetter(dataFromPrompt, i, j);
      }

      isWinLetter(letter, i, j) {
        let counter = 0;
        console.log("comprobando ", i , j, letter);
        console.log("comparariamos ", this.get(`myValues.0.0`), this.get(`myValues.1.0`), this.get(`myValues.2.0`))
        //let item = this.get(`myValues.${i}`)
        
        for (let k = 0 ; k < this.size ; k++) {
          if (letter === this.get(`myValues.${i}.${k}.item`)) counter++;
        }
        console.log("Counter sobre y ", counter);
        if (counter === this.size) {
          alert(`Ganó ${letter}!`);
          return;
        }
        counter = 0;
        for (let k = 0 ; k < this.size ; k++) {
          if (letter === this.get(`myValues.${k}.${j}.item`)) counter++;
        }
        console.log("Counter sobre x ", counter);
        if (counter === this.size) {
          alert(`Ganó ${letter}!`);
          return;
        }
        //console.log('verificamos las diagnoales)
        counter = 0;
        let tmp;
        if (i === 0) {
          switch (j){
            case 0: 
              tmp = 0;
              for (let k = 0 ; k < this.size ; k++) {
                if (letter === this.get(`myValues.${k}.${tmp}.item`)) counter++;
                tmp++;
              }
            break;
            case (this.size - 1): 
              tmp = (this.size - 1);
              for (let k = 0 ; k < this.size ; k++) {
                if (letter === this.get(`myValues.${k}.${tmp}.item`)) counter++;
                tmp--;
              }
            break;
          }

          console.log("Counter sobre diagnoal a ", counter);
          if (counter === this.size) {
            alert(`Ganó ${letter}!`);
            return;
          }  
          
        } else if (i === this.size - 1) {
          switch (j){
            case 0: 
              tmp = this.size - 1;
              for (let k = 0 ; k < this.size ; k++) {
                if (letter === this.get(`myValues.${tmp}.${k}.item`)) counter++;
                tmp--;
              }
            break;
            case (this.size - 1): 
              tmp = (this.size - 1);
              for (let k = this.size - 1 ; k >= 0 ; k--) {
                if (letter === this.get(`myValues.${k}.${tmp}.item`)) counter++;
                tmp--;
              }
            break;
          }

          console.log("Counter sobre diagnoal b ", counter);
          if (counter === this.size) {
            alert(`Ganó ${letter}!`);
            return;
          }
          
        } else if(i === j && (i > 0)) {
          for (let k = 0 ; k < this.size ; k++) {
            if (letter === this.get(`myValues.${k}.${k}.item`)) counter++;
          }
          console.log("Counter sobre diagnoal c ", counter);
          if (counter === this.size) {
            alert(`Ganó ${letter}!`);
            return;
          }
          counter = 0;
          tmp = this.size-1;
          for (let k = 0 ; k < this.size ; k++) {
            if (letter === this.get(`myValues.${k}.${tmp}.item`)) counter++;
            tmp--;
          }
          console.log("Counter sobre diagnoal d ", counter);
          if (counter === this.size) {
            alert(`Ganó ${letter}!`);
            return;
          }
        }
      }

      //_isExistSize(newValue, oldValue) { console.log(newValue, oldValue);}
    }

    window.customElements.define(GatoComponent.is, GatoComponent);
  </script>
</dom-module>
